{% extends "layout.html" %}

  {% block body %}
  <form method="POST" action="{{ url_for('danceclass_edit') }}">
    <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
  </td>
  <td>
      {{ form.length.label }}
    </td>
    <td>
      {{ form.length }}
    </td>
    <td>
        {{ form.descr.label }}
      </td>
      <td>
        {{ form.descr }}
      </td>
      </tr>
      <tr>
	<td colspan="2">
	  <input type="submit" value="Tallenna"/>
	</td>
      </tr>
  </form>
  {% endblock %}