<nav class='navbar navbar-default'>
    <div class='container'>
        
        <a class="navbar-brand" href="/">Go home</a>
        <li class='nav-item'><a href="{{ url_for('dashboard') }}">Dashboard for admins</a></li>
        
        
        <li>
        {% if current_user.is_authenticated %}
        <p>
         {{ current_user.name }} is signed in. <a href="{{ url_for('auth_logout') }}">Sign out</a>
        </p>
        {% else %}
        <a href="{{ url_for('auth_login') }}">Sign in</a>
        {% endif %}
        </li>
           
            
          
        </div>
        </div>
      </nav>