<nav class='navbar navbar-default'>
    <div class='container'>
        
        <a class="navbar-brand" href="/">Go home</a>
        <li class='nav-item'><a href="{{ url_for('danceclass_form') }}">Add new class</a></li>
        <li class='nav-item'><a href="{{ url_for('danceclass_index') }}">List classes</a></li>
        <li>
        {% if current_user.is_authenticated %}
        <p>
            Kirjautunut nimellä {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
        </p>
        {% else %}
        <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
        {% endif %}
        </li>
           
            
          
        </div>
        </div>
      </nav>